install
cdrom
lang en_GB.UTF-8
keyboard uk
network --onboot yes --device eth0 --bootproto dhcp --noipv6
selinux --enforcing
rootpw --plaintext r00tpass
firewall --enabled --ssh
auth --enableshadow --passalgo=sha512
eula --agreed
timezone UTC
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet audit=1"

text
skipx
zerombr

clearpart --all --initlabel
part /boot      --asprimary     --fstype="ext4"        --size=512
part swap       --asprimary     --fstype="swap"        --size=4096
part pv.01 --size=45056 --ondisk=sda
volgroup vg00 pv.01

logvol /              --fstype="ext4" --name=lv_root          --vgname=vg00   --size=10240
logvol /home          --fstype="ext4" --name=lv_home          --vgname=vg00   --size=6144  --fsoptions nodev,nosuid,noexec
logvol /tmp           --fstype="ext4" --name=lv_tmp           --vgname=vg00   --size=2048  --fsoptions nodev,nosuid,noexec
logvol /var           --fstype="ext4" --name=lv_var           --vgname=vg00   --size=8192  --fsoptions nodev
logvol /var/log       --fstype="ext4" --name=lv_var_log       --vgname=vg00   --size=10240 --fsoptions nodev
logvol /var/log/audit --fstype="ext4" --name=lv_var_log_audit --vgname=vg00   --size=2048  --fsoptions nodev
logvol /opt           --fstype="ext4" --name=lv_opt           --vgname=vg00   --size=4096  --fsoptions nodev

firstboot --disabled
reboot
user --name=vagrant --plaintext --password vagrant --groups=pcker,wheel

%packages --ignoremissing --excludedocs
@core
bzip2
kernel-devel
kernel-headers
sudo

# Remove unecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post
# Add VMWare repo so we can install open-vm-tools
cat >> /etc/yum.repos.d/vmware-tools.repo << EOF
[vmware-tools]
name = VMware Tools
baseurl = http://packages.vmware.com/packages/rhel7/x86_64/
enabled = 1
gpgcheck = 1
gpgkey=https://packages.vmware.com/tools/keys/VMWARE-PACKAGING-GPG-RSA-KEY.pub
EOF

rm -rf /etc/audit/audit.rules*
rm -rf /etc/audit/rules.d
cat >> /etc/audit/audit.rule << EOF
# This file contains the auditctl rules that are loaded
# whenever the audit daemon is started via the initscripts.
# The rules are simply the parameters that would be passed
# to auditctl.

# First rule - delete all
-D

# Increase the buffers to survive stress events.
# Make this bigger for busy systems
-b 320

# Feel free to add below this line. See auditctl man page


# CIS Benchmark Adjustments

# CIS 5.2.4
-a always,exit -F arch=b64 -S adjtimex -S settimeofday -k time-change
-a always,exit -F arch=b32 -S adjtimex -S settimeofday -S stime -k time-change
-a always,exit -F arch=b64 -S clock_settime -k time-change
-a always,exit -F arch=b32 -S clock_settime -k time-change
-w /etc/localtime -p wa -k time-change

# CIS 5.2.5
-w /etc/group -p wa -k identity
-w /etc/passwd -p wa -k identity
-w /etc/gshadow -p wa -k identity
-w /etc/shadow -p wa -k identity
-w /etc/security/opasswd -p wa -k identity

# CIS 5.2.6
-a always,exit -F arch=b64 -S sethostname -S setdomainname -k system-locale
-a always,exit -F arch=b32 -S sethostname -S setdomainname -k system-locale
-w /etc/issue -p wa -k system-locale
-w /etc/issue.net -p wa -k system-locale
-w /etc/hosts -p wa -k system-locale
-w /etc/sysconfig/network -p wa -k system-locale

# CIS 5.2.7
-w /etc/selinux/ -p wa -k MAC-policy

# CIS 5.2.8
-w /var/log/faillog -p wa -k logins
-w /var/log/lastlog -p wa -k logins
#-w /var/log/tallylog -p -wa -k logins

# CIS 5.2.9
-w /var/run/utmp -p wa -k session
-w /var/log/wtmp -p wa -k session
-w /var/log/btmp -p wa -k session

# CIS 5.2.10
-a always,exit -F arch=b64 -S chmod -S fchmod -S fchmodat -F auid>=500 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S chmod -S fchmod -S fchmodat -F auid>=500 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S chown -S fchown -S fchownat -S lchown -F auid>=500 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S chown -S fchown -S fchownat -S lchown -F auid>=500 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S setxattr -S lsetxattr -S fsetxattr -S removexattr -S lremovexattr -S fremovexattr -F auid>=500 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S setxattr -S lsetxattr -S fsetxattr -S removexattr -S lremovexattr -S fremovexattr -F auid>=500 -F auid!=4294967295 -k perm_mod

# CIS 5.2.11
-a always,exit -F arch=b64 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EACCES -F auid>=500 -F auid!=4294967295 -k access
-a always,exit -F arch=b32 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EACCES -F auid>=500 -F auid!=4294967295 -k access
-a always,exit -F arch=b64 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EPERM -F auid>=500 -F auid!=4294967295 -k access
-a always,exit -F arch=b32 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EPERM -F auid>=500 -F auid!=4294967295 -k access

# CIS 5.2.13
-a always,exit -F arch=b64 -S mount -F auid>=500 -F auid!=4294967295 -k mounts
-a always,exit -F arch=b32 -S mount -F auid>=500 -F auid!=4294967295 -k mounts

# CIS 5.2.14
-a always,exit -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F auid>=500 -F auid!=4294967295 -k delete
-a always,exit -F arch=b32 -S unlink -S unlinkat -S rename -S renameat -F auid>=500 -F auid!=4294967295 -k delete

# CIS 5.2.15
-w /etc/sudoers -p wa -k scope

# CIS 5.2.16
-w /var/log/sudo.log -p wa -k actions

# CIS 5.2.17
-w /sbin/insmod -p x -k modules
-w /sbin/rmmod -p x -k modules
-w /sbin/modprobe -p x -k modules
#-a always,exit arch=b32 -S init_module -S delete_module -k modules
#-a always,exit arch=b64 -S init_module -S delete_module -k modules

# CIS 5.2.12
-a always,exit -F path=/bin/cgexec -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged
-a always,exit -F path=/bin/mount -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged
-a always,exit -F path=/bin/umount -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged
-a always,exit -F path=/bin/ping -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged
-a always,exit -F path=/bin/su -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged
-a always,exit -F path=/bin/ping6 -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged
-a always,exit -F path=/sbin/unix_chkpwd -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged
-a always,exit -F path=/sbin/netreport -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged
-a always,exit -F path=/sbin/pam_timestamp_check -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged
-a always,exit -F path=/lib64/dbus-1/dbus-daemon-launch-helper -F perm=x -F auid>=500 -F auid!=4294967295 -k privileged

# CIS 5.2.18
-e 2
EOF
# Don't do a full yum update whilst testing as this massively increases the packer build time
# /usr/bin/yum update -y
/usr/bin/yum update -y
/usr/bin/yum -y install sudo aide screen yum-utils open-vm-tools

# Remove wpa_supplicant
/usr/bin/yum erase wpa_supplicant -y

# Make sure packer has passwordless sudo rights
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
echo "Defaults:vagrant !requiretty" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant

# At the end of it all - clean up so we have a nice image
service rsyslog stop
service auditd stop
package-cleanup --oldkernels --count=1
yum clean all
/usr/sbin/logrotate –f /etc/logrotate.conf
rm –f /var/log/*-???????? /var/log/*.gz
rm -f /var/log/dmesg.old
rm -f /var/log/anaconda*
> /var/log/audit/audit.log
> /var/log/wtmp
> /var/log/lastlog
rm -f /etc/udev/rules.d/70*
sed -i '/^(HWADDR~UUID)=/d' /etc/sysconfig/network-scripts/ifcfg-eth0
sed -i 's/^inet_protocols = all/inet_protocols = ipv4/' /etc/postfix/main.cf
rm -rf /tmp/*
rm -rf /var/tmp/*
rm -f /etc/ssh/*key*
rm -f ~root/.bash_history
unset HISTFILE
rm -f ~root/anaconda-ks.cfg
%end
